* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f4f4f4;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
#sobre-mim{
    background-color: #555;
    color: white;
    border-radius: 20px;
    flex-direction: row;
}

#sm{
   align-items: row;
    text-align: center;
    font-family: bold;
   
}
#textoOri{
  align-items: left;
}

#img {
    align-items: row;
    border-radius: 100px;
    width:120px;
     height:120px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

#formacao{
    border-radius: 20px;
    background-color: #333;
    color: white;
}
#portfolio{
    border-radius: 20px;
    background-color: #333;
    color: #f4f4f4;
}

#contato{  
    border-radius: 20px;
   #name {
    text-align: center;
    }
    width: 100%;
    bottom: 0;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    #botao{
        padding: 10px;
        background-color: #555;
        margin-bottom: 5px;
        border-radius: 20px;
    }
}
footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #333;
    color: white;
    position: fixed;  
}


